<!DOCTYPE html>
<html lang="en" className="w-full h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>LOG IN</title>
    
</head>
<!-- header -->
<header className="w-full h-[10%] bg-white flex sticky top-0">
    <div className="h-full bg-white grow flex items-center shadow-xl">
        <p className="text-red-600 pl-10 pr-10 text-[40px] font-black flex items-center ">REPAIR
            <span className="text-yellow-400">&nbsp;TU</span>
        </p>
    </div>
    <a href="Home.html" className="top_bar_page">
        HOME
    </a>
    <a href="Status.html" className="top_bar_page">
        STATUS
    </a>
</header>

<!-- content -->
<body className="w-full h-full ">
    <div className="w-full h-[85%] bg-[##F6F6F6] flex flex-wrap  items-center justify-center">
        <p className="text-[#340000] font-bold text-[10vw] leading-none">WEL<br>COME</p>
        <i className="text-[15vw] text-[#340000] ml-5 fa-solid fa-screwdriver-wrench"></i>
        
        <!-- LOG IN -->
        <div className="w-[45vh] h-[55vh] bg-gradient-to-t from-[#FFD705] to-[#FF0000] ml-14 border border-black-500 rounded-3xl flex flex-col shadow-2xl justify-center">
            <h1 className="text-white text-5xl font-bold flex items-center justify-center m-5">LOG IN</h1>

            <div className="flex justify-center items-center mb-4 ">
                <form action="#" className=" p-6 w-80">
                    <!-- STUDENT ID -->
                    <label for="student_id" id="student_id">
                        &#x1FAAA; <span className="text-white text-lg">STUDENT ID</span>
                    </label>

                    <br>
                    <input className="w-full h-10 outline-none rounded-xl shadow-xl indent-4 mt-2" type="text" name="student_id" placeholder="student id">
                    <br>

                    <!-- PASSWORD -->
                    <label for="password" id="password">
                        &#128274; <span className="text-white text-lg">PASSWORD</span>
                    </label>

                    <br>
                    <input className="w-full h-10 outline-none rounded-xl shadow-xl indent-4 mt-2" type="password" name="password" placeholder="password">

                </form>
            </div>

            <button className="w-40 h-10 bg-[#E20B0B] text-white rounded-xl shadow-xl -mt-2.5 self-center">SUBMIT</button>

        </div>
    </div>
</body>

<!-- footer -->
<footer className="w-full h-[15%] bg-[#340000] text-white flex justify-center items-center">
    <p>@ Repair TU 2024</p>
</footer>

</html>