html,body{
    width: 100%;
    height: 100%;
}
.title-1 {
    color: #340000;
    font-size: 9vw;
    font-weight: 900;
}
.intro{
    color: #340000;
    font-size: 1vw;
    margin-top: -120px;
}
.img {
    margin-top: 30px;
    width: 27vw;
    height: 30vw;
    /* border: solid 5px black; */
}

.button_start:hover{
    color: yellow;
}
.container-1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top:-150px;
}
 .box-1{
    display: flex;
    flex-direction: column;
    /* border: solid 2px black; */
    /* margin-bottom: 245px; */
 }
.box-2{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 85px;
    /* border: solid 2px blue; */
}

.button_start{
    background-color: rgb(226, 11, 11);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 75%;
    border: none;
    border-radius: 25px;
    font-size: 25px;
    box-shadow: 2px 2px 1px 0.5px rgba(0, 0, 0, 0.5); 
}

.link_button{
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
}